KhSTL/.vs/
*.sln
KhSTL/KhSTL/KhSTL.vcxproj
KhSTL/KhSTL/KhSTL.vcxproj.filters
KhSTL/KhSTL/KhSTL.vcxproj.user
KhSTL/Test/
KhSTL/Debug/
KhSTL/KhSTL/Debug/KhSTL.idb
KhSTL/KhSTL/Debug/KhSTL.log
KhSTL/KhSTL/Debug/
KhSTL/KhSTL/x64/Debug/KhSTL.idb
KhSTL/KhSTL/x64/
.vs/
KhSTL_lib.vcxproj.user
KhSTL_lib.vcxproj.filters
KhSTL_lib.vcxproj
Test/
